.wrapper {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
  min-width: 150px;
  padding: 15px;
  overflow: auto;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.dropdown-active {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 0 auto;
  padding: 5px 0;
  color: var(--primary-dark);
  font-size: 14px;
  background: transparent;
  border-bottom: 1px solid var(--color-grey);
  border-radius: 0;
}
