.btn {
  min-width: 35px;
  min-height: 35px;
  color: var(--color-white);
  background-color: var(--primary);
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
