.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input {
  margin-bottom: 5px;
}

.save {
  margin-top: 20px;
}

.error {
  margin-top: 5px;
  color: var(--color-red);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
