<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/globals.scss">
</head>
<body>
    <a href="./pages/signin/Signin.hbs">signin</a>
    <a href="./pages/signup/Signup.hbs">signup</a>
    <a href="./pages/profile/Profile.hbs">profile</a>
    <a href="./pages/chat/Chat.hbs">chat</a>
    <a href="./pages/page404/Page404.hbs">5xx</a>
    <a href="./pages/page5xx/Page5xx.hbs">404</a>
</body>
</html>