@font-face {
  font-weight: 300;
  font-family: Nunito;
  font-style: normal;
  src: url("./Nunito-Light.eot");
  src:
    url("./Nunito-Light.eot?#iefix") format("embedded-opentype"),
    url("./Nunito-Light.woff") format("woff"),
    url("./Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: Nunito;
  font-style: normal;
  src: url("./Nunito-Medium.eot");
  src:
    url("./Nunito-Medium.eot?#iefix") format("embedded-opentype"),
    url("./Nunito-Medium.woff") format("woff"),
    url("./Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: Nunito;
  font-style: normal;
  src: url("./Nunito-Bold.eot");
  src:
    url("./Nunito-Bold.eot?#iefix") format("embedded-opentype"),
    url("./Nunito-Bold.woff") format("woff"),
    url("./Nunito-Bold.ttf") format("truetype");
}
