<ul>
  <li><a href="/signin">signin</a></li>
  <li><a href="/signup">signup</a></li>
  <li><a href="/error404">error404</a></li>
  <li><a href="/error500">error500</a></li>
  <li><a href="/profile">profile</a></li>
  <li><a href="/chat">chat</a></li>
</ul>
