.chats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.chat-list {
  height: calc(100vh - var(--navbar-height) - 110px);
  overflow: auto;
  white-space: nowrap;
  transition: all 0.2s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  margin-top: 20px;
}

.search {
  min-width: 312px;
  margin: 10px 28px;
}

.newchat {
  margin: 10px 28px;
}

.chat-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
