.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 449px;
  margin: 0 auto;
}

.user-info {
  width: 100%;
  margin-top: 60px;
}

.avatar {
  position: relative;
  width: 120px;
  height: 120px;
  margin-top: 80px;
  overflow: hidden;
  border-radius: 100%;
}

.photo {
  width: 100%;
  height: 100%;
}

.file {
  display: none;
}

.upload {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 40px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background: rgba($color: #000, $alpha: 50%);
  transform: translateX(-50%);
  cursor: pointer;
}

.name {
  display: inline;
  margin-top: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-bottom: 2px solid var(--color-secondary);
}
