@import url("../../static/styles/libs/normalize.css");
@import url("../../static/fonts/index.scss");

:root {
  --primary: #625B9A;
  --primary-light: #D7D5E5;
  --primary-dark: #181818;
  --color-secondary: #FFBC39;
  --color-secondary-dark: #E2861E;
  --color-white: #FFF;
  --color-grey: #B9B9B9;
  --color-grey-light: #E0E0E0;
  --color-grey-dark: #7C7C7C;
  --color-red: #BD2D2D;
  --navbar-height: 54px;
}

* {
  color: var(--primary-dark);
  font-size: 14px;
  font-family: Nunito, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
