<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/globals.scss">
    <link rel="stylesheet" href="./auth.scss">
</head>

<body>
    <main>
        <div class="auth">
            <div class="auth__container">
                <h1 class="auth__title">Sign up</h1>
                <form class="auth__form" action="#">
                    {{>input text = "Enter your e-mail address"
                    name = "email"
                    type="email"
                    label="E-mail"}}
                    {{>input text = "Enter your login"
                    name = "login"
                    type="text"
                    label="Login"}}
                    {{>input text = "Enter your first name"
                    name = "first_name"
                    type="text"
                    label="First name"}}
                    {{>input text = "Enter your second name"
                    name = "second_name"
                    type="text"
                    label="Second name"}}
                    {{>input text = "Enter your phone"
                    name = "phone"
                    type="tel"
                    label="Phone"}}
                    {{>input text = "Enter your password"
                    name = "password"
                    type = "password"
                    label ="Password"}}
                    {{>button class="btn" text="Sign up"}}
                </form>
                <p class="auth__text">Already have an account?
                    <a href="./Signin.hbs"><span>Sign in</span></a>
                </p>
            </div>
        </div>
    </main>
</body>

</html>
