@import "./fonts/index.scss";

@import "./styles/button.scss";
@import "./styles/input.scss";
@import "./styles/navbar.scss";
@import "./styles/error.scss";

:root {
  --primary: #625B9A;
  --primary-light: #D7D5E5;
  --primary-dark: #181818;
  --color-secondary: #FFBC39;
  --color-secondary-dark: #E2861E;
  --color-white: #fff;
  --color-grey: #B9B9B9;
  --color-grey-light: #E0E0E0;
  --color-grey-dark: #7C7C7C;
  --color-red: #bd2d2d;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--primary-dark);
  font-size: 14px;
  font-family: Nunito, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul,
li,
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}