.custom-input {
    &__label {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-grey-dark);

        span {
            margin-left: 14px;
        }
    }

    &__input {
        padding: 6px 15px;
        border: 1px solid var(--primary);
        border-radius: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--primary-dark);
    }

    &__error {
        margin-top: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-red);
    }
}