.navbar {
	height: var(--navbar-height);
	box-shadow: 0 3px 10px rgb(0 0 0 / 5%);

	ul {
		display: flex;
		align-items: center;
		padding: 10px 40px;

		li {
			display: flex;
			align-items: center;
			margin-left: 40px;
			cursor: pointer;

			span {
				color: var(--color-grey-dark);
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
			}
		}

		:first-child {
			margin-left: 0;
		}

		:last-child {
			margin-left: auto;
		}
	}

	&__user-photo {
		width: 32px;
		height: 32px;
		margin-right: 8px;
		border-radius: 100%;
	}

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 4px;
	}
}
