<nav class="navbar">
    <ul>
        <li>
            <img src="../../static/temp/User_photo.png" alt="user">
            <span>
                <a href="../profile/Profile.hbs">Profile</a>
            </span>
            <span aria-hidden="true">></span>
        </li>
        <li>
            <img src="../../static/icons/message_circle.svg" alt="chat">
            <span>
                <a href="../chat/Chat.hbs">Chat</a>
            </span>
            <span aria-hidden="true">></span>
        </li>
        <li>
            <img src="../../static/icons/log_out.svg" alt="log out">
            <span>
                {{!-- Ссылка временно --}}
                <a href="../auth/Signin.hbs">Log out</a>         
            </span>
        </li>
    </ul>
</nav>